*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: red;
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*Global Variables*/
ul {
  list-style-type: none;
}
