*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #242428;
  --clr-white: white;
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*Global Variables*/
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
